@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
/*=========== Primary=============*/

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

/*=============Neutral===========*/

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

/*============TYPOGRAPHY=========*/
p{
    font-size:16px;
}

small{
    font-size:13px;
    color:var(--Grayish-Blue);
}

body{

    font-size:18px;
    font-family: 'Public Sans', sans-serif;

}


li,a{
    display:inline-block;
    list-style:none;
    text-decoration:none;
    color:var(--White);
}

.container{
    width:80%;
    max-width:1440px;
    margin:0 auto;
}

img{
    max-width:100%;
    display:block;
    object-fit:cover;
    
}

.flex-rw{
    display:flex;
    justify-content:space-between;
    align-items:space-between;
}

.flex-col{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:space-between;
}

header{
    width:100%;
    /*position:fixed;
    top:0;
    left:0;
    right:0;*/
    background:white;
    padding:1.5em 0;
    z-index:10;
}
.navbar-mobile {
    display:none;
}
.navlist__item{
     display:inline-flex;
    justify-content:center;
    align-items:center;
    padding:0 .6em;
}

.navlist__item a{
        color:var(--Grayish-Blue);
}

.btn{
    padding:.8em 1.8em;
    color:var(--White);
    background-image:linear-gradient(to right,var(--Lime-Green),var(--Lime-Green),var(--Bright-Cyan));
    border-radius:100px;
}
.btn:hover{
    background-image:linear-gradient(to right,var(--Lime-Green),var(--Bright-Cyan));
}
.hero-section{
    width:100%;
    background-color:var(--Very-Light-Gray);
    
}

.hero-section-img{
    overflow:hidden;
    padding:3rem 0;
}

.hero-section-content{
    max-width:38%;
}
.hero-section-content h1{
    padding-top:10rem;
}
.hero-section-content p{
    padding:3rem 0;
}
.hero-inner-img{
    position:relative;
    margin-top:-335px;
    margin-right:-300px;
    transform:scale(.5,.5);
}
.mockup2{
    width:100%;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.main{
    padding:4em 0;
   background-color:var(--Light-Grayish-Blue); 
}
.main-header{
    max-width:60%;
}
.main-header p{
        padding:1.5em 0;
}
.card-container{
    margin-top:3em;
}
.card {
    width:250px;
}
.card img{
    width:20%;
}

.card h3{
    padding: 1em 0;
}
.article{
    padding:4em 0;
    background-color:var(--Very-Light-Gray);
}

.article h2{
    padding-bottom:1.3em;   
}
.article-card{
    width:18em;
    background-color:white;
    box-shadow: 1px 1px  10px rgba(0,0,0,.01);
    border-radius:.5rem;
    overflow:hidden;
}

.article-container{
    width:100%;
}
.article-content a{
    font-size:20px;
    color:#000;
    padding:1em 0;
}
.article-content a:hover{
    color: var(--Lime-Green);
}
.article-card+.article-card{
    margin-left:.2em;
}
.article-card img{
    width:18em;
    height:14em;
}
.article-content{
    width:14em;
    padding:1em;
    width:100%;
}

footer{

    padding:2em 0;
    background-color:var(--Dark-Blue);
}
.footer{
    height:300px;
}
.f-logo{
    fill:#FFF;
}
footer p{
    color:var(--Grayish-Blue);
}
.footer-navlist li a{
    padding:.2em 0;
}
.footer-long{
    flex:.7;
}

.footer-item4{
    height:100%;
}
.footer-item4 .butn{
    align-self:flex-end;
}

@media screen and (max-width:375px){
    .container{
        width:90%;
        margin:0 auto;
    }
    header{
        position:relative;
        width:100%;
    }
    
    
    body{
        display:grid;
        place-items:center;
    }
    .navbar-desktop {
        display:none;
    }
    .navbar-mobile {
        display:block;
        
    }
    .navtop{
        padding:3em 0;
    }
    .navtop a img{
        height:3.5em;
     }
    .navlist-mobo{
        position:absolute;
        width:100%;
        top:250px;
        background:white;
        transform:scale(0);
        
    }
    .navlist__item{
        display:block;
        text-align:center;
        font-size:4rem;
        padding:.5em 0;
        width:100%;
    }
    .menu{

        
    }
    .close{
        position:absolute;
        right:6rem;
        top:5rem;
        height:5em;
        transform:scale(0);
    }
}
